*

!hypr/
!hypr/**

!nvim/
!nvim/**

!kitty/
!kitty/**

!swaylock/
!swaylock/**

!waybar/
!waybar/**

!wofi/
!wofi/**

!ranger/
!ranger/**

zsh/.zcompdump*
zsh/.zsh_history
!zsh/.zshrc
!zsh/.p10k.zsh

!tmux/
!tmux/**

!mimeapps.list

!.gitignore
