*

!hypr/
!hypr/**

!nvim/
!nvim/**

!kitty/
!kitty/**

!swaylock/
!swaylock/**

!waybar/
!waybar/**

!wofi/
!wofi/**

!ranger/
!ranger/**

zsh/.zcompdump*
!zsh/.zshrc
!zsh/.p10k.zsh
!zsh/.zsh_history

!tmux/
!tmux/**

!mimeapps.list

!.gitignore
