* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", "Inter", sans-serif;
  min-height: 0;
  font-size: 13px;
}

window#waybar {
  background-color: #1c1c1c;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #555555;
}

#workspaces button.active {
  border-bottom: 2px solid #ffcc66;
  color: #e5e5e5;
}

#clock {
  padding: 6px;
  font-weight: 600;
  color: #555555;
}

#cpu {
  color: #555555;
  margin-right: 5px;
}

#memory {
  color: #555555;
  margin-right: 5px;
}

#battery {
  color: #555555;
}

#custom-tmux {
  margin-right: 5px;
  color: #555555;
}
